.portada_img {
    max-width: 100%;
}

.nav-link:hover{
  color: hsl(5, 85%, 63%);
}

.portada {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    gap: 30px;
    grid-template-areas:
        "base  aside"
        "footer footer";
}

.base {
    grid-area: base;
}

.aside {

    grid-area: aside;
    text-align: center;
}

.footer {

    grid-area: footer;
    display: flex;
    justify-content: space-between;
    height: 30%;
}

.portada_texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_footer {
    max-width: 80%;
}

.tarjeta {
    display: flex;
}