.portada_img{
    max-width: 100%;
    margin-top: 20px;
}

.portada_texto h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-top: 20px;
}

.portada_texto p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: $Darkgrayishblue;
}

.aside{
    background-color: $Verydarkblue;
}

.aside h2{
    color: orange;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding: 20px;
    font-size: 1.4rem;
}

.aside_title{
    color: $Off-white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    padding: 20px;
    height: 1px;
}

.aside p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: $Grayishblue;
    padding-left:20px;
    padding-bottom:10px;
}

.footer{
    display: flex;
    flex-direction: column;
}

.tarjeta{
    display: flex;
    padding-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img_footer{
    width: 100px;
}

span{
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: $Grayishblue;
    font-size: 1rem;
}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 10px;
}

h4:hover{
    color: $red;
}

.tarjeta p {
    padding: 10px;
    color: $Darkgrayishblue;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}